.App {
  text-align: center;
}

body {
  background-color: #EAE7DC;
}
.navbar {
  background-color: #EAE7DC;
  margin-left: 30px;
  margin-top: 10px;
}

.navbar-item {
  border-style: solid;
  border-color: #D8C3A5;
}

.nav-link {
  color: black;
}
.nav2 {
  margin-left: 20px;
}